<%= form_with url: "/movies", method: :get, local: true do |f| %>
  <%= f.label :filter, "すべて" %>
  <%= f.radio_button :filter, 'all', checked: true %>
  <%= f.label :filter, "公開予定" %>
  <%= f.radio_button :filter, 'not_showing' %>
  <%= f.label :filter, "公開中" %>
  <%= f.radio_button :filter, 'showing' %>
  <%= f.text_field :keyword, placeholder: "キーワードで検索" %>
  <%= f.submit "検索" %>
<% end %>
<table>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.name %></td>
      <td><%= image_tag movie.image_url, alt: "#{movie.name}のポスター" %></td>
    </tr>
  <% end %>
</table>
